.nav-open nav {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  a {
    display: block;
  }

  @media #{$large-desktop} {
    border: 0;
    padding: 0 20px;

    a {
      display: inline;
    }
  }
}

nav {
  text-transform: uppercase;
  font-size: 0.8em;
  width: 100%;

  @media #{$large-desktop} {
    text-align: right;
    position: absolute;
    top: 13px;
    right: 0;
    padding: 0 20px;
  }

  a {
    margin: 0 3px;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.2s ease-in-out;
    display: none;

    @media #{$large-desktop} {
      display: inline;
      padding: 10px;
    }

    &.nav-toggle {
      display: inline;
      position: absolute;
      right: 10px;
      top: -22px;
      font-size: 1.9em;
      border: 0;

      @media #{$large-desktop} {
        display: none;
      }

      &:hover {
        border: 0;
      }
    }
  }

  a:hover {
    border-bottom: $brand-color;
    color: $brand-color;
  }

  @media #{$large-desktop} {
    a.highlight {
      border: 1px #ccc solid;
      border-radius: 5px;

      &:hover {
        color: $brand-color;
      }
    }
  }

  a.active {
    color: $brand-color;
  }
}
